<nav>
    <h2><span>D</span> Dashboard</h2>
    <a routerLink="home" routerLinkActive='active'><fa-icon [icon]="faHouse"></fa-icon><span class="espacamento">Home</span></a> 
    <a routerLink="clientes" routerLinkActive="active"><fa-icon [icon]="faUserTie"></fa-icon><span class="espacamento">Clientes</span></a> 
    <a router=""><fa-icon [icon]="faShop"></fa-icon><span class="espacamento">Lojistas</span></a> 
    <a router=""><fa-icon [icon]="faCalendarDay"></fa-icon><span class="espacamento">Eventos</span></a> 
    <a router=""><fa-icon [icon]="faCoins"></fa-icon><span class="espacamento">Financeiro</span></a> 
    <a router=""><fa-icon [icon]="faUtensils"></fa-icon><span class="espacamento">Food</span></a> 
    <a router=""><fa-icon [icon]="faUsers"></fa-icon><span class="espacamento">Usuarios</span></a> 
    <a router=""><fa-icon [icon]="faRocket"></fa-icon><span class="espacamento">Chat</span></a> 
    <a router=""><fa-icon [icon]="faChartSimple"></fa-icon><span class="espacamento">Logistic Activity</span></a> 
</nav> 

<router-outlet></router-outlet>
