<nav>
    <h2><span>D</span> Dashboard</h2>
    <a href=""><fa-icon [icon]="faHouse"></fa-icon> Home</a> 
    <a href=""> <mat-icon>person_pin</mat-icon> Clientes</a> 
    <a href=""><mat-icon>store</mat-icon> Lojistas</a> 
    <a href=""><mat-icon>event</mat-icon> Eventos</a> 
    <a href=""><mat-icon>attach_money</mat-icon> Financeiro</a> 
    <a href=""><mat-icon>fastfood</mat-icon> Food</a> 
    <a href=""><mat-icon>supervisor_account</mat-icon> Usuarios</a> 
    <a href=""><mat-icon>chat_bubble_outline</mat-icon> Chat</a> 
    <a href=""><mat-icon>analytics</mat-icon> Logistic Activity</a> 
</nav>

